ToolLib/.vs/ToolLib.csproj.dtbcache.json
ToolLib/.vs/ToolLib.slnx/FileContentIndex/8d616719-ff96-43cf-a3e9-38d9ab6e108f.vsidx
ToolLib/.vs/ToolLib.slnx/v18/.suo
ToolLib/.vs/ToolLib.slnx/v18/DocumentLayout.backup.json
ToolLib/.vs/ToolLib.slnx/v18/DocumentLayout.json
ToolLib/bin/Release/ToolLib.dll
ToolLib/bin/Release/ToolLib.pdb
ToolLib/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ToolLib/obj/Release/DesignTimeResolveAssemblyReferences.cache
ToolLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ToolLib/obj/Release/ToolLib.csproj.AssemblyReference.cache
ToolLib/obj/Release/ToolLib.csproj.CoreCompileInputs.cache
ToolLib/obj/Release/ToolLib.csproj.FileListAbsolute.txt
ToolLib/obj/Release/ToolLib.csproj.GenerateResource.cache
ToolLib/obj/Release/ToolLib.csproj.Up2Date
ToolLib/obj/Release/ToolLib.dll
ToolLib/obj/Release/ToolLib.Library.PosSelectorLib.PosSelectorForm.resources
ToolLib/obj/Release/ToolLib.pdb
ToolLib/packages
ToolLib/bin
ToolLib/obj